
/* index.html - login */
.nto-index-flexpanel {
	margin-top: 6%;
}

.nto-index-loginpanel {
	/*background: rgba(0, 0, 0, 0.85);*/
	background: rgba(255, 255, 255, 0.75);
}

.nto-vsheet-vsheetpanel {
	background: rgba(255, 255, 255, 0.8);
}

.nto-vsheet-vsheetbutton {
	color: #fff;
}