<!-- login E-Boto -->

<!DOCTYPE html>
<html>
	<head>
		<title>E-Boto 2017 | TEKKIES | BA&A | narra@2017</title>
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="front-end-ballots/css/uikit.min.css" />
		<link rel="stylesheet" href="front-end-ballots/css/nto-default.css" />

		<script src="front-end-ballots/js/jquery-3.1.1.min.js"></script>
		<script src="front-end-ballots/js/uikit.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>

		<script type="text/javascript">
			if(localStorage.getItem("lstorage") == null){ location.replace("/");}
		</script>
	</head>

	<body>

		<div class="uk-cover-container" uk-height-viewport id="vsheetVue_main">
			<img v-bind:src="vsheetMV_random_bg" uk-cover>

			<div class="uk-overlay uk-position-top uk-flex uk-flex-center" style="overflow:auto;height:88%;">
				<div class="uk-width-5-6">
					<div class="uk-alert-primary" uk-alert>
						<a class="uk-alert-close" v-on:click="vsheetFunc_filterPosition(1)" uk-close></a>
						<h3>Howdy, Voter!</h3>
						<p>There is a set of buttons located at the bottom of this page. The left and right arrows directs you to the next voting sheets, the check confirms your submission, and the 'x' cancels your voting session.</p>
					</div>
					<div class="uk-child-width-1-5" uk-grid>
						<div v-for="item in vsheetMV_filtered">

							<!-- loop panel here -->
							<div class="uk-width-auto">
								<img class="uk-comment-avatar" v-bind:src="'front-end-ballots/NTO-img/candidates/'+item.picture">
							</div>
							<div class="uk-card uk-card-small uk-card-default uk-card-body nto-vsheet-vsheetpanel uk-text-center">
								<div class="uk-text-center">
									<u><small>{{ item.fullname }}</small></u> <br>
									<small>{{ (item.course || "NA") + ", " + (item.party || "NA") }}</small>
									<br>
									<div class="uk-child-width-auto">
										<label><input class="uk-checkbox" type="checkbox" v-model="vsheetMV_votes" :value="item.id_number" :disabled="vsheetFunc_countPositions(item.position) >= vsheetMV_currentLimit && vsheetMV_votes.indexOf(item.id_number) === -1">&nbsp;&nbsp;<b>{{ item.position }}</b></label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<ul class="uk-iconnav uk-margin-bottom uk-position-bottom uk-flex uk-flex-center">
				<li><a href="#" class="uk-margin-medium-right" uk-icon="icon: triangle-left; ratio: 2" title="Go back to previous candidates." v-on:click.prevent="vsheetFunc_filterPosition(-1)" uk-tooltip></a></li>
				<li><a href="#" class="uk-margin-medium-right" uk-icon="icon: close; ratio: 2" title="Cancel voting and logout." v-on:click.prevent="vsheetClick_logout_confirm()" uk-tooltip></a></li>
				<li><a href="#" class="uk-margin-medium-right" uk-icon="icon: check; ratio: 2" title="Submit election sheet." v-on:click.prevent="vsheetClick_submit_confirm()" uk-tooltip></a></li>
				<li><a href="#" uk-icon="icon: triangle-right; ratio: 2" title="View next candidates." v-on:click.prevent="vsheetFunc_filterPosition(1)" uk-tooltip></a></li>
			</ul>

		</div>

		<script src="front-end-ballots/js/conf.json"></script>
		<script src="front-end-ballots/js/nto-vsheet-vue.js"></script>
	</body>
</html>