<!-- Admin E-Boto -->

<!DOCTYPE html>
<html>
	<head>
		<title>E-Boto 2017 | TEKKIES | BA&A | narra@2017</title>
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="front-end-ballots/css/uikit.min.css" />
		<link rel="stylesheet" href="front-end-ballots/css/nto-default.css" />

		<script src="front-end-ballots/js/jquery-3.1.1.min.js"></script>
		<script src="front-end-ballots/js/uikit.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>

		<script type="text/javascript">
			location.replace("/admin?#");
		</script>
	</head>

	<body>

		<div id="vstatsVue_main">
			<div class="uk-flex uk-flex-center uk-margin-top" v-if="vstatsMV_validFlag == false">
				<div class="uk-width-1-3">
					<form v-on:submit.prevent="vstatsFunc_validateSequence">
						<fieldset class="uk-fieldset">
							<legend class="uk-legend">Sequence Number:</legend>

							<div class="uk-margin">
								<textarea class="uk-textarea" rows="2" placeholder="Textarea" required v-model="vstatsMV_sequence"></textarea>
							</div>

							<button class="uk-button uk-button-default" type="submit">Validate</button>
						</fieldset>
					</form>
				</div>
			</div>

			<div class="uk-cover-container" uk-height-viewport v-if="vstatsMV_validFlag == true">
				<img src="front-end-ballots/NTO-img/bg-geometric-background-3d.jpg" uk-cover>

				<div class="uk-cover-container">
					<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
						<div class="uk-navbar-left">
							<ul class="uk-navbar-nav">
								<li class="uk-active">
									<a href="#" uk-toggle="target: #offcanvas-push"><span uk-icon="icon: triangle-left"></span> <b>Navigate</b></a>
								</li>
							</ul>
						</div>
					</nav>

					<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
						<div class="uk-offcanvas-bar">

							<div class="uk-width-1-1">
								<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
									<li class="uk-active"><a href="#">MENU</a></li>
									<li><a href="/watch">Statistics</a></li>
									<li class="uk-parent">
										<a href="#">Admin Functions</a>
										<ul class="uk-nav-sub">
											<li><a href="#" @click="vstatsMV_currentFeat = 1">Voter Access</a></li>
											<li><a href="#" @click="vstatsMV_currentFeat = 2" v-on:click.stop.prevent="vstatsFunc_getLogs();">Logs</a></li>
										</ul>
									</li>
								</ul>
							</div>

							<ul class="uk-nav uk-nav-default">
								<li class="uk-nav-header">EXIT</li>
								<li><a href="/admin"><span class="uk-margin-small-right" uk-icon="icon: close"></span> Logout</a></li>
								<li class="uk-nav-divider"></li>
								<li><a href="#" class="uk-offcanvas-close"><span class="uk-margin-small-right" uk-icon="icon: triangle-left"></span> Hide Menu</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Enable & disable voter access -->
				<div class="uk-position-cover uk-cover-container uk-overflow-auto uk-margin-large-top" v-if="vstatsMV_currentFeat == 1">
				
					<div class="uk-flex uk-flex-center">
						<div class="uk-width-5-6 nto-vsheet-vsheetpanel">

							<div class="uk-card uk-card-default">
								<div class="uk-card-body">
									<form class="uk-width-1-1 uk-search uk-search-default">
										<a href="" uk-search-icon></a>
										<input class="uk-search-input" type="search" placeholder="Search voter's Id number" v-model="vstatsMV_currentSearch" v-on:keyup.13="vstatsFunc_getVoter">
									</form>
								</div>
							</div>
							<br>

							<div class="uk-child-width-1-1 uk-padding-small" uk-grid>
								<!-- voter data -->
								<div v-for="nth in vstatsMV_currentVoters">
									<div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-wrap">
										<div class="uk-position-top-right uk-margin-medium-right uk-margin-medium-top"><span uk-icon="icon: file-edit"></span></div>
										<small class="uk-text-muted">ID: {{ nth.id_number }}</small><br><span class="uk-card-title"> {{ nth.fullname || "No name specified."}}</span><br>
										
										<form>
											<input class="uk-checkbox" type="checkbox" v-model="nth.voting_enabled" @change="vstatsFunc_voterAccess(nth)" :disabled="nth.vote_cast == 1">
											<small>Access</small>&nbsp;&nbsp;|&nbsp;&nbsp;

											<input class="uk-checkbox" type="checkbox" v-model="nth.vote_cast" disabled>
											<small>Has Voted</small>&nbsp;&nbsp;|&nbsp;&nbsp;

											<small>Vote Time: <label>{{ nth.on_vote || "[NA]" }}</label></small>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- show logs -->
				<div class="uk-position-cover uk-cover-container uk-margin-large-top" v-if="vstatsMV_currentFeat == 2">
					<div class="uk-flex uk-flex-center">
						<textarea class="uk-textarea uk-text-small uk-width-1-1 nto-vsheet-vsheetpanel" placeholder="Logs" readonly id="logs_area" rows="20"></textarea>
					</div>
				</div>
			</div>
		</div>

		<!-- input 100 character passphrase... -->

		<!-- monitor election results -->
		<!-- enable voting access -->
		<script src="front-end-ballots/js/conf.json"></script>
		<script src="front-end-ballots/js/nto-vstats-vue.js"></script>
	</body>
</html>