<!-- Results E-Boto -->

<!DOCTYPE html>
<html>
	<head>
		<title>E-Boto 2017 | TEKKIES | BA&A | narra@2017</title>
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="front-end-ballots/css/uikit.min.css" />
		<link rel="stylesheet" href="front-end-ballots/css/nto-default.css" />

		<script src="front-end-ballots/js/jquery-3.1.1.min.js"></script>
		<script src="front-end-ballots/js/uikit.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>

	<body>

		<div id="vwatchVue_main" class="uk-flex uk-flex-center uk-background-cover" style="background-image: url('front-end-ballots/NTO-img/vsheet-4.jpg');" uk-height-viewport>
			<div class="uk-width-1-1 uk-padding-large">
				<div class="uk-grid-small uk-child-width-1-3@s" uk-grid>
				   <div v-for="nth in vwatchMV_results">
						<!-- <div class="uk-card uk-card-small uk-card-default uk-card-body">{{ nth }}</div> -->

					<article class="uk-comment uk-margin-large-right">
						<header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
							<div class="uk-width-auto">
								<img class="uk-comment-avatar" v-bind:src="'front-end-ballots/NTO-img/candidates/' + nth.picture" width="70" height="70">
							</div>
							<div class="uk-width-expand" style="background: rgba(255, 255, 255, 0.2);">
								<h2 class="uk-margin-remove"><b>{{ nth.votes }}</b></h1>
								<h5 class="uk-comment-title uk-margin-remove">
									<a class="uk-link-reset" href="#">{{ nth.fullname }}</a><br>
									<small class="uk-margin-remove"><b>{{ nth.position }}</b></small>
								</h5>
							</div>
						</header>
					</article>

					</div>
				</div>
			</div>

			<!-- ads -->
			<a class="uk-button uk-button-default" href="#modal-full" uk-toggle id="add-show" hidden>Open</a>
			<div id="modal-full" class="uk-modal-full" uk-modal>
				<div class="uk-modal-dialog">
					<button class="uk-modal-close-full" type="button" uk-close id="add-close"></button>
					<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
						<div class="uk-background-cover" style="background-image: url('front-end-ballots/NTO-img/vsheet-5.png');" uk-height-viewport></div>
						<div class="uk-padding-large">
							<h1>[Insert Ad Title!]</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>




		<script src="front-end-ballots/js/conf.json"></script>
		<script src="front-end-ballots/js/nto-vwatch-vue.js"></script>
	</body>
</html>